{# my_blog_project/templates/account/password_change.html #}
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load account %} {# Needed for allauth tags #}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="content-section">
    <h2>Change Password</h2>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" name="action">Change Password</button>
    </form>
</div>
{% endblock %}