{# my_blog_project/blog/templates/blog/post_detail.html #}
{% extends 'blog/base.html' %} {# Inherit from the base template #}

{% block title %}{{ post.title }}{% endblock %} {# Set the title to the post title #}

{% block content %} {# Fill the content block #}
    <article class="post">
        <h2>{{ post.title }}</h2>
        <p class="post-meta">Published by {{ post.author.username }} on {{ post.pub_date|date:"F d, Y" }}</p>
        <div>
            {{ post.content|linebreaksbr }} {# Display content, preserving line breaks #}
        </div>
    </article>

    <section class="comments">
        <h3>Comments ({{ post.comments.count }})</h3> {# Display the number of comments #}

        {% if post.comments.all %} {# Check if there are any comments #}
            {% for comment in post.comments.all %} {# Loop through comments related to this post #}
                <div class="comment">
                    <p>{{ comment.content }}</p>
                    <p class="comment-meta">by {{ comment.author.username }} on {{ comment.created_date|date:"F d, Y H:i" }}</p> {# Display comment author and date/time #}
                    
                    {# Check if the user is the author of the comment #}
                    {% if user.is_authenticated and user.username == comment.author %}
                        <a href="{% url 'blog:comment_edit' comment.pk %}">Edit</a> {# Link to edit the comment #}
                        <a href="{% url 'blog:comment_delete' comment.pk %}">Delete</a> {# Link to delete the comment #}
                    {% endif %}
                
                </div>
            {% endfor %}
        {% else %}
            <p>No comments yet.</p> {# Message if there are no comments #}
        {% endif %}
                {% if user.is_authenticated %}
                    <h4>Add a new comment</h4>
                    <form action="{% url 'blog:comment_create' post.pk %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <button type="submit">Post Comment</button>
                    </form>
                {% else %}
                    <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
                {% endif %}
        {# Add a form for adding new comments later... #}

    </section>
{% endblock %}