{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block title %}Create Post{% endblock %}

{% block content %}
    {% if form.instance.pk %}
        <h2>Edit Post</h2>
    {% else %}
        <h2>Write Post</h2>
    {% endif %}
    {{ form.media }}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form|crispy }}

        {% if form.instance.pk %}
            <input type="hidden" name="post_id" value="{{ form.instance.pk }}">
        {% endif %}

        <button type="submit" class='btn'>Save Post</button>
        <a href="{% url 'blog:post_list' %}"class="btn">Cancel</a>
    </form>
{% endblock %}
